@font-face {
  font-family: "Young Serif";
  src: url("../../assets/fonts/young-serif/YoungSerif-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Outfit";
  src: url("../../assets/fonts/outfit/Outfit-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 400 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --White: hsl(0, 0%, 100%);

  --Stone-100: hsl(30, 54%, 90%);
  --Stone-150: hsl(30, 18%, 87%);
  --Stone-600: hsl(30, 10%, 34%);
  --Stone-900: hsl(24, 5%, 18%);

  --Brown-800: hsl(14, 45%, 36%);

  --Rose-800: hsl(332, 51%, 32%);
  --Rose-50: hsl(330, 100%, 98%);
}

body {
  background-color: var(--Stone-100);
  color: var(--Stone-600);
  font-family: "Outfit", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  max-width: 46rem;
  background-color: var(--White);
  border-radius: 24px;
}

picture {
  padding: 2.5rem 2.5rem 0;
}

.recipe-header-image {
  height: auto;
  border-radius: 12px;
  margin-bottom: 2.5rem;
}

.text-content {
  padding: 0 2.5rem 2.5rem;
}

.recipe-header {
  margin-bottom: 2rem;
}

.recipe-title {
  color: var(--Stone-900);
  font-family: "Young Serif", serif;
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.preparation {
  background-color: var(--Rose-50);
  padding: 1.5rem;
  border-radius: 12px;
  margin-bottom: 2rem;
}

.preparation-title {
  color: var(--Rose-800);
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 0;
}

.ingredients-title,
.instructions-title,
.nutrition-title {
  color: var(--Brown-800);
  font-family: "Young Serif", serif;
  font-size: 1.75rem;
  font-weight: 400;
}

.preparation-list,
.ingredients-list {
  list-style-type: none;
  padding-left: 0.4rem;
  margin-bottom: 0;
}

.preparation-list li,
.ingredients-list li {
  position: relative;
  padding-left: 2.1rem;
  margin-bottom: 0.5rem;
}

.preparation-list li::before,
.ingredients-list li::before {
  content: "•";
  color: var(--Rose-800);
  font-size: 1.3rem;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.ingredients-list li::before {
  color: var(--Brown-800);
}

.ingredients,
.instructions {
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--Stone-150);
}

.instructions,
.nutrition {
  margin-top: 2rem;
}

.instructions-list {
  padding-left: 1.4rem;
  margin-bottom: 0;
}

.instructions-list li {
  padding-left: 1.1rem;
  margin-bottom: 0.5rem;
}

.preparation-list li:last-child,
.ingredients-list li:last-child,
.instructions-list li:last-child {
  margin-bottom: 0;
}

.instructions-list li::marker {
  color: var(--Brown-800);
  font-weight: 700;
}

.nutrition-list {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

.nutrition-list li {
  padding: 0.75rem 0 0.75rem 2rem;
  border-bottom: 1px solid var(--Stone-150);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.nutrition-list li:last-child {
  border-bottom: none;
}

.nutrition-list .highlight {
  color: var(--Brown-800);
}

@media (max-width: 30rem) { 
  body {
    padding: initial;
    margin: 0;
  }

  .card,
  .recipe-header-image {
    border-radius: initial;
  }

  picture {
    padding: initial;
  }

  .text-content {
    padding: 0 2rem 2rem;
  }

  .recipe-title {
    font-size: 2.25rem;
    line-height: 1;
  }
}
